# Keil MDK-ARM 编译生成文件
*.o
*.d
*.crf
*.lnp
*.axf
*.htm
*.build_log.htm
*.dep
*.map
*.lst
*.bak

# Keil 用户本地配置与调试文件 (不应共享)
*.uvoptx
*.uvgui.*
*.uvguix.*
*.scvd
JLinkLog.txt
MDK-ARM/DebugConfig/

# 编译输出目录 
MDK-ARM/CTG-F407/

# 可选忽略二进制固件 
*.hex
*.bin

# 操作系统与通用编辑器缓存
.DS_Store
Thumbs.db

# EIDE 编译与配置生成文件
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

.pack/